.header{
  font-size: 30px;
  margin-right: 100px;
}
nav{
  background-color: #2773bb;
  padding: 10px;
  height: 50px;
}
nav .link{
  text-decoration: none;
  color:white;
  margin:40px;
  padding: 8px 15px;
  border-radius: 5px;
}
nav .link:hover{
  background-color: #326696;

}
.disabled-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color:white;
  margin:20px;
}
  